@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');



html {
    scroll-behavior: smooth;
    
}

body {
    color: #2e2e31;
    
    font-family: 'Montserrat', 'sans serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*-------------------------
        TEXTOS
-------------------------*/

p {
    text-align: center;
    margin: 20px 0;
}

h1, h3 {
    text-align: left;
}

h1 {
    font-family: 'Allura';
    font-weight: 900;
    font-size: 75px;
    color: #009c86;
    text-shadow: 2px 2px 4px #42424280;
}

h2, h3 {
    font-weight: 900;
}

h2 {
    font-size: 45px;
    text-align: center;
}

h4 {
     font-size: 45px;
     text-align: center;
 }

h3 {
    font-size: 30px;
    color: #424242;
    margin: 90px 0 10px 0;
}

#textoPresentacion{
     font-size: 3em;
}





/*--------------------------------
    MENU DESPLEGABLE MOBILE
----------------------------------*/
.contenedor-barra-mobile {
    display: flex;
    z-index: 1;
    position: absolute;
    top: -250px;
    right: 0;
    transition: 1s;
}

.barra-mobile {
    background-color: rgba(250, 250, 250, 0.6);
    display: flex;
    flex-direction: column;
}

.menu-desplegado {
    right: 0;
    top: 70px;
}

/*--------------------------------
        DISPLAY FLEX
----------------------------------*/

 .contenedor-skills, .seccion-skills {
    display: flex;
}

/*--------------------------------
        SECCIÓN PRESENTACION
----------------------------------*/

.presentacion{
    background-color: #d3faf540;
}

/*--------------------------------
    SECCIÓN ACERCA DE MI PERSONA
----------------------------------*/

.acercaDeMiPersona{

    background-color: #d3faf540;
    padding: 2em;

}




/*--------------------------------
        SECCIÓN TECNOLOGIAS
----------------------------------*/

.seccion-skills {
    background-color: #d3faf540;
    padding: 45px;
    align-items: center;
    flex-direction: column;
}

/* -- CAJA DE TARJETAS -- */
.contenedor-skills {
    width: 80%;
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* -- CAJA DE CADA TARJETA -- */
.skills {
    background-color: #fafafa;
    border: 1px #dddfe5 solid;
    border-radius: 10px;
    width: 260px;
    height: 229px;
    margin: 10px;
    padding: 30px;
    color: #2e2e31;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-skills { 
    margin: 20px 60px 20px 60px;
}

.texto-skills {
    padding: 10px 220px;
}

.h2-skills {
    margin-top: 100px;
}

.p-titulo-skills {
    font-weight: 700;
    font-size: 20px;
}

#tituloSQL{
    margin-top: -0.2em;
}

/*--------------------------------
        SECCIÓN EDUCACION
----------------------------------*/

.educacion{
    margin-top: -1.5em;
    background-color: #d3faf540;
}

/*-------------------------------
          EXPERIENCIA
--------------------------------*/


.mywork {
     position: relative;
     background-color: #d3faf540;
     margin-top: -1.5em;
     
 }
 .mywork h2 {
     font-size: 5em;
 }
 .works {
     display: flex;
     flex-wrap: wrap;
     padding: 0 10%; 
     margin-top: 5em;
     margin-bottom: 5em;
     justify-content: space-around;
 }
 
 .work {
     width: 31%;
     height: 15vw;
     position: relative;
     overflow: hidden;
     
     border-radius: 20px;
     background-color: #1c2355;
     color: white;
     font-size: 1em;
 }
 .work img {
     object-fit: cover;
     width: 100%;
     height: 100%;
     cursor: default;
     
 }
 .work:hover img {
     transition: all .5s;
     opacity: 0;
 }
 .work:hover .project-info{
     z-index: 1;
 }
 .project-info {
     position: absolute;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     opacity: 1;
     z-index: -1;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 20px;
 }
 .project-info a {
     padding: 10px;
     border-radius: 20px;
     border: 1px solid var(--primary);
     color: white;
     margin: 10px;
 }
 .project-info a:hover {
     background-color: var(--primary);
     transition: all .5s;
 }


/*-------------------------------
          EXPERIENCIA
--------------------------------*/


 .div-contacto{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.img-contacto {
    width: 80px;
    padding: 10px;
    margin: 10px;
    transition: 0.3s;
}





/*-------------------------
    @MEDIA TABLETS
-------------------------*/
@media (min-width: 600px) and (max-width: 900px) {

    

    /*-------------------------
            TEXTOS
    -------------------------*/

    .p-hola, h1, h3 {
        text-align: center;
    }

    h1 {
        font-size: 72px;
    }

    h3 {
        font-size: 25px;
    }

    /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

    /* -- CAJA DE TARJETAS -- */
    .contenedor-skills {
        width: 100%;
    }

    .texto-skills {
        padding: 10px 100px;
    }

    /*--------------------------------
            EXPERIENCIA
    ----------------------------------*/

    .work {
     width: 45%;
     height: 20vw;
 }

 .works div{
    margin-top: 2em;

}


 

}

/*-------------------------
    @MEDIA CELULARES
-------------------------*/
@media (max-width: 599px) {

 

    /*--------------------------------
            TEXTOS
    ----------------------------------*/   

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

    /* -- CAJA DE TARJETAS -- */
    .contenedor-skills {
        width: 100%;
        padding: 5px;
    }

    .texto-skills {
        padding: 10px 10px;
        margin: 10px;
        font-size: 16px;
    }

    /*--------------------------------
            EXPERIENCIA
    ----------------------------------*/

    .work {
     width: 100%;
     height: 40vw;
 }

 .works div{
    margin-top: 2em;

}

    

}



